button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.titulo_seccion {
    position: relative;
    font-size: 20px;
    color: black;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    /* Espacio entre cada input */
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: XX;
    /* Define el ancho máximo del input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    /* Permite redimensionar verticalmente el textarea */
}

button:hover {
    background-color: black;
}